<div class="user_title">
  <h2>
    <%= @user.name %>
  </h2>
  <hr class="user_rule">
</div>

<div class="project_menu">
  <div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading menu_heading">Graphed Projects</a>

    <ul>
      <% @user.projects.each do |project| %>
        <li><a href="<%= project.id %>"><%= project.title %></a></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="project_viewport">
  <%= erb :_render_user_graphy %>
</div>


