<div id="search">
  <div class="header">
    <img class="compass" src="/images/graphy_logo.png">
    <% if current_user %>
        <h1>Hello <%=get_user_name%>, what do you want to graph...</h1>
      <% else %>
        <h1>What do you want to graph...</h1>
    <% end %>
  </div>


  <form class="pure-form" name="graphy" id="graphy" action="result/show" method="post">
    <input type="text" name="criteria" placeholder="Food Name" required>
    <input type = "submit" value="Graph"  class="pure-button pure-button-primary">
    <input type="button" class="reset pure-button" value="Reset">

  </form>

</div>
<div class="container">

  <%= erb :_render_graphy %>

</div>
