<div class="container">
<% if current_user %>
  <h1>Hello <%=get_user_name%>, User selections </h1>
  <% else %>
   <h1>User selections for graphs </h1>
   <% end %>
<table style="width:600px">
<tr>
  <th>Name</th>

</tr>
<tr>
    <% @users.each do |person| %>

    <td><%= person.name %></td>



</tr>
    <% end %>

</table>

</div>
