<div class="container">
  <% if current_user %>
    <h1>Hello <%=get_user_name%>, what would you like to Graphy? </h1>
  <% else %>
    <h1>Choose something to graphy...</h1>
  <% end %>

  <div class="graphy" style="width:600px">

    <form name="graphy" id="graphy" action="result/show" method="post">
      <input type="text" name="criteria" placeholder="food1, food2">
      <input type = "submit" value="Submit">
    </form>

    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

  </div>

  <div class="metadata" style="width:600px">

    <form name='project' id='project' action='/users/:user_id/results/new' method='post'>
      <input type='text' name='project[:title]' placeholder='Title'><br>
      <textarea name='project[:notes]' placeholder='Write some important notes' rows='7' cols='50'></textarea><br>
      <input type='submit' value='Save Project'>
    </form>
    <p class="references" style="color: #999">References:</p>
      <form name='references' id='references' action='/users/:user_id/results/:result_id/links' method='post'>
        <input type='text' name='link' placeholder='Tack on important links'>
        <input type='submit' value='URL'>
      </form>

  </div>

</div>
